.btn {
  border-radius: 12px;
  background: linear-gradient(
    91deg,
    var(--btn-gradient-1) -4.37%,
    var(--btn-gradient-2) 53.69%,
    var(--btn-gradient-3) 100%
  );
  border: none;
  padding: 18px 22px;
  text-align: center;
  color: var(--text-colour-inverted);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background: linear-gradient(
    272deg,
    var(--btn-gradient-1) -4.37%,
    var(--btn-gradient-2) 53.69%,
    var(--btn-gradient-3) 100%
  );
}

.--full-width {
  width: 100%;
}

.--is-highlight {
  background: linear-gradient(
    91deg,
    var(--btn-highlight-gradient-1) -5.74%,
    var(--btn-highlight-gradient-2) 100%
  );
}

.--is-highlight:hover,
.--is-highlight:focus {
  background: linear-gradient(
    91deg,
    var(--btn-highlight-gradient-2) -5.74%,
    var(--btn-highlight-gradient-1) 100%
  );
}
