.btn {
  border-radius: 12px;
  background: linear-gradient(
    91deg,
    var(--gradient-1) -4.37%,
    var(--gradient-2) 53.69%,
    var(--gradient-3) 100%
  );
  border: none;
  padding: 18px 22px;
  text-align: center;
  color: var(--text-colour-inverted);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background: linear-gradient(
    272deg,
    var(--gradient-1) -4.37%,
    var(--gradient-2) 53.69%,
    var(--gradient-3) 100%
  );
}

.-full-width {
  inline-size: 100%;
}

.-is-highlight {
  background: linear-gradient(
    91deg,
    var(--highlight-gradient-1) -5.74%,
    var(--highlight-gradient-2) 100%
  );
}

.-is-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.-is-icon > svg {
  inline-size: 20px;
}

.-is-text {
  background: transparent;
  color: inherit;
}

.-is-text:hover,
.-is-text:focus {
  background: transparent;
  color: var(--text-colour-inverted);
}

.-is-highlight:hover,
.-is-highlight:focus {
  background: linear-gradient(
    91deg,
    var(--highlight-gradient-2) -5.74%,
    var(--highlight-gradient-1) 100%
  );
}

.btn:has(a) {
  padding: 0;
}

.btn > a {
  padding: 18px 22px;
  display: block;
}
