a {
  background: linear-gradient(
    91deg,
    var(--btn-gradient-1) -4.37%,
    var(--btn-gradient-2) 53.69%,
    var(--btn-gradient-3) 100%
  );
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

a:hover,
a:focus {
  box-shadow: 0px 2px 0px 0px var(--btn-gradient-3);
}
