html,
body {
  --font-size-default: 1.6rem;
  --font-size-1: 2.49rem;
  --font-size-2: 2.07rem;
  --font-size-3: 1.73rem;
  --font-size-4: 1.44rem;
  --font-size-5: 1.2rem;
  --font-size-6: 0.69rem;
  --font-size-7: 1;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

p,
body {
  font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: true;
  line-height: 1.15;
}

h1,
.-text-size-h1 {
  font-weight: 400;
  margin-top: 0;
  font-size: var(--font-size-1);
}

h2,
.-text-size-h2 {
  font-size: var(--font-size-2);
}

h3,
.-text-size-h3 {
  font-size: var(--font-size-3);
}

h4,
.-text-size-h4 {
  font-size: var(--font-size-4);
}

h5,
.-text-size-h5 {
  font-size: var(--font-size-5);
}

small,
.-text-small {
  font-size: var(--font-size-6);
}

.-is-error {
  background: linear-gradient(
    91deg,
    var(--invalid) -4.37%,
    var(--light-invalid) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.-is-warning {
  background: linear-gradient(
    91deg,
    var(--gradient-3) -4.37%,
    var(--gradient-2) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.-is-success {
  background: linear-gradient(
    91deg,
    var(--highlight-gradient-1) -4.37%,
    var(--valid) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.-is-cta {
  background: linear-gradient(
    91deg,
    var(--gradient-1) -4.37%,
    var(--highlight-gradient-1) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}
