.invisible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.-full-width {
  inline-size: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.-is-centred-v {
  align-items: center;
}

.-is-centred-h {
  justify-content: center;
}

.-space-bottom {
  margin-block-end: 24px;
}

.mb-48 {
  margin-block-end: 48px;
}

.mb-32 {
  margin-block-end: 32px;
}

.mb-12 {
  margin-block-end: 12px;
}

@media (width > 547px) {
  .desktop-width-limit {
    max-width: 600px;
    margin: 0 auto;
  }
}
