.invisible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.-full-width {
  inline-size: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.-is-centred-v {
  align-items: center;
}

.-is-centred-h {
  justify-content: center;
}

.-space-bottom {
  margin-block-end: 24px;
}

.mb-48 {
  margin-block-end: 48px;
}

.mb-32 {
  margin-block-end: 32px;
}

.mb-12 {
  margin-block-end: 12px;
}

.-full-grid-width {
  grid-column: 1/-1;
}

@media (width > 547px) {
  .-desktop-width-limit {
    max-width: 600px;
    margin: 0 auto;
  }
}

.-is-danger {
  background: repeating-linear-gradient(
    45deg,
    var(--invalid),
    var(--invalid) 10px,
    var(--light-invalid) 10px,
    var(--light-invalid) 20px
  );
}

.-is-danger:hover,
.-is-danger:focus {
  background-size: 55px 100%;
  animation: move-diagonal-lines 2s linear infinite;
}

@keyframes move-diagonal-lines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 55px 0;
  }
}
