.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner__label {
  background: linear-gradient(
    91deg,
    var(--highlight-gradient-1) -4.37%,
    var(--highlight-gradient-2) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.loader {
  inline-size: 48px;
  block-size: 48px;
  border: 2px solid var(--spinner-bg-1);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--spinner-bg-2);
  inline-size: 6px;
  block-size: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
