.select {
  --select-background: var(--white);
  --select-text-colour: var(--text-colour-inverted);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: url('../../Assets/Icons/chevron-d.svg') no-repeat 91% center
    var(--select-background);
  color: var(--select-text-colour);
}

.select > select {
  padding: 10px 34px 10px 18px;
}

.select.-is-inverted {
  --select-background: var(--black);
  --select-text-colour: var(--text-colour);
  border: 1px solid var(--white);
  background: url('../../Assets/Icons/chevron-white-d.svg') no-repeat 91% center
    var(--select-background);
}
