.take-photo {
  border: 1px solid var(--grey-1);
  background: var(--grey-2);
  border-radius: 12px;
  position: relative;
}

.take-photo__video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* icon opacity 0.15 */

.take-photo__cta {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  background: url('../../Assets/Icons/camera.svg') no-repeat center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
}
