.logo-vertical-responsive {
  width: 100%;
  height: auto;
}

.landing__feature-heading {
  display: flex;
  gap: 10px;
  font-weight: 600;
}

.landing__feature-heading > svg {
  background: linear-gradient(
    91deg,
    var(--highlight-gradient-1) -4.37%,
    var(--valid) 53.69%
  );
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.landing__feature-list-item {
}

.landing__feature-list {
}
