.drawer__wrapper {
  position: fixed;
  inline-size: 100%;
  inset-inline-end: -100%;
  block-size: 100%;
  z-index: 9999999;
  top: 0;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(0px);
  transition: inset-inline-end 0.05s ease-in-out,
    backdrop-filter 0.1s ease-in-out;
}

.drawer {
  padding: 10px;
  inline-size: 75%;
  background: var(--black);
  border-inline-start: 4px solid var(--grey-1);
  @media (width > 547px) {
    inline-size: 30%;
  }
}

.drawer__wrapper.-is-open {
  inset-inline-end: 0;
  backdrop-filter: blur(2px);
  transition: inset-inline-end 0.25s ease-in-out,
    backdrop-filter 0.75s ease-in-out;
}

.drawer .drawer-trigger {
  margin-block-end: 32px;
}

.nav-list a,
.nav-list .asLink {
  padding: 20px 0;
  display: block;
}
