.header {
  display: flex;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 16px;
  margin: -16px -16px 0 -16px;
  background: var(--tag-gradient-3);
}

.header__item:first-child {
  margin-inline-end: auto;
}

.header__logo {
  max-block-size: 60px;
}

.header__logo svg {
  height: 100%;
}

.header__item .btn > a {
  padding: 18px 22px;
}
