.spot {
  display: flex;
  flex-direction: column;
  position: relative;
  block-size: 100%;
}

.spot__overlay {
  position: absolute;
  bottom: 0;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  right: 0;
  left: 0;
}

.spot__details {
  text-shadow: 1px 1px var(--text-colour-inverted);
}

.spot__tools {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  inline-size: 100%;
  background: linear-gradient(to right, transparent, var(--tools-bg));
  opacity: 0.75;
  gap: 15px;
}

.spot__image {
  backdrop-filter: blur(0.1px);
  min-height: 300px;
}

.-has-default {
  opacity: 0.3;
}

.spot__tags {
  margin-block-end: 10px;
}

.spot__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: var(--font-size-1);
}

.spot__subtitle {
  font-size: var(--font-size-default);
}

.image-cover {
  object-fit: cover;
}

.notes-max-hight {
  max-height: 107px;
  overflow: hidden;
}

.spot__delete,
.spot__edit {
  padding: 8px;
  line-height: 1;
  color: var(--text-colour);
}

.spot__delete:hover,
.spot__delete:focus,
.spot__edit:hover,
.spot__edit:focus {
  cursor: pointer;
  box-shadow: none;
}
